body{
    background-color:whitesmoke;
    padding: 0;
    margin: 0;
    background: url("img/background.png") no-repeat;
    background-size: 100% 100%;
}
#home,#sideBarMain>div,#blog-sidecolumn>div>div,.catListView{
    background-color:rgba(255,255,255,0);
    border:1px solid transparent
}

html{
    height: 100%;
}
